/*
#Kids{
    margin-left: auto;
    margin-right: auto;
    width: auto;
}

#row1{
    margin-left: 400px;
    float: left;
}

#row2{
    margin-right: 400px;
    float: right;
} */
.center-div
{
    margin-left: auto;
    margin-right: auto;
    width: auto;
}

.evaluation {
  margin: 0 auto;
  width: 350px;
}

.btn-outline-secondary {
  color: #6c757d;
  background-color: transparent;
  background-image: none;
  border-color: #6c757d;
}

.jumbotron {
  padding-top: 3rem;
  padding-bottom: 3rem;
  margin-bottom: 0;
  background-color: #fff;
}
@media (min-width: 768px) {
  .jumbotron {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}

/* Adding Tag*/
.addTag {
  border-radius: 8px;
  background-color: #ffffff;
  transition-duration: 0.2s;
  display: inline-block;
  cursor: pointer;
}

.addTag span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.2s;
}

.addTag span:after {
  content: '\00af';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.2s;
}

.addTag:hover span{
  background-color: #0244e2;
  border: 5px;
  border-color: #b81900;
  color: white;
  padding-right: 15px;
}

.addTag:hover span:after {
  opacity: 1;
  right: 0;
}

.bold-mute{
  color: gray;
  font-weight: bold;
}