.chart-container {
    width: 600px;
    height: 400px;
    margin: 0 auto;

}

.jumbotron{
	background-color: transparent !important;
	margin: 0;
	padding-top: 2rem;
	padding-bottom: 0rem;
	margin-bottom: 0;
}

.fa-star{
	  color: #FADC46;
}

