.chart-container {
    width: 600px;
    height: 400px;
    margin: 0 auto;

}

.jumbotron{
	background-color: transparent !important;
	margin: 0;
	padding-top: 2rem;
	padding-bottom: 0rem;
	margin-bottom: 0;
}

.fa-star{
	  color: #FADC46;
}

#option-breadcrum{
	margin: 0 auto;
	background-color: white;
	text-align:center;
	height: 100px;
	line-height:50px;

}

.review_select{
	margin: 0 auto;
	padding-top: 2rem;
	padding-bottom: 2rem;

}
